*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0px;
}

pre
{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}

