---
---

* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
	font-size: 12px;
	position: relative
}

h6 { font-size: 12px; font-weight: bold; }
h5 { font-size: 14px; font-weight: bold; }
h4 { font-size: 16px; font-weight: bold; }
h3 { font-size: 18px; font-weight: bold; }
h2 { font-size: 20px; font-weight: bold; }
h1 { font-size: 24px; font-weight: bold; }

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
}

pre, code {
	font-family: 'Courier New', Courier, monospace;
	margin: 0px;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.vbox.spacing > a:nth-child(n) {
	margin-top: 8px;
	margin-bottom: 8px;
}

.hbox.spacing > a:nth-child(n) {
	margin-left: 8px;
	margin-right: 8px;
}

.page {
	width: 1104px;
	margin: 0 auto;
	border-left: 2px solid gray;
	border-right: 2px solid gray
}

.buttonLink {
	padding: 4px;
	background-color: aliceblue;
	margin-left: 16px;
	font-size: 14px;
}

.mainMenu {
	border-bottom: 2px solid brown;
	background-color:azure;
}

a {
	text-decoration: none;
	color: maroon
}

a:hover {
	text-decoration: underline;
}

