{% include pathToRoot.lqd %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<!--<link href="{{pathToRoot}}assets/main.css" rel="stylesheet">-->
	<link href="{{pathToRoot}}assets/CommonStyles.css" rel="stylesheet">
</head>
<body>
	<div class="vbox page">
		<!--<img src="{{pathToRoot}}assets/MountainStrip.jpg" />-->
		<div class="hbox mainMenu">
			<img src="{{pathToRoot}}assets/Logo.png">
			<div class="hbox spacing" style="justify-content:flex-end; flex-grow:1; align-items:center">
				<a href="{{pathToRoot}}home/home.html">Home</a>
				<a href="{{pathToRoot}}mimurl/mimurlAbout.html">mimurl</a>
				<a href="{{pathToRoot}}mimbl/mimblAbout.html">mimbl</a>
				<a href="{{pathToRoot}}blog/index.html">Blog</a>
			</div>
		</div>
		<div style="display:flex; flex-direction: column; flex-grow:1; padding: 8px">
			{{ content }}
		</div>
	</div>
</body>
</html>
