{% include pathToRoot.lqd %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<link href="{{pathToRoot}}assets/CommonStyles.css" rel="stylesheet">
</head>
<body>
	<div class="vbox" style="height: 100%">
		<div class="hbox mainHeader">
			<img src="{{pathToRoot}}assets/Logo.png" style="margin: auto 0.5em">
			<div class="menubar" style="justify-content:flex-start; flex-grow:1; align-items:center">
				<a class="menuitem" href="{{pathToRoot}}home.html">Home</a>
				<div class="menuitem">
					<div class="menuitemContent">Mimcss</div>
					<div class="menu">
						<a class="menuitem" href="{{pathToRoot}}mimcss/mimcssAbout.html">About</a>
						<a class="menuitem" href="{{pathToRoot}}mimcss/mimcss-guide-introduction.html">Guide</a>
						<a class="menuitem" href="{{pathToRoot}}mimcss/mimcssDemo.html">Demo</a>
						<a class="menuitem" href="{{pathToRoot}}mimcss/mimcssReference.html">Reference</a>
					</div>
				</div>
				<div class="menuitem">
					<div class="menuitemContent">Mimbl</div>
					<div class="menu">
						<a class="menuitem" href="{{pathToRoot}}mimbl/mimblAbout.html">About</a>
						<a class="menuitem" href="{{pathToRoot}}mimbl/mimbl-guide-introduction.html">Guide</a>
						<a class="menuitem" href="{{pathToRoot}}mimbl/mimblDemo.html">Demo</a>
						<a class="menuitem" href="{{pathToRoot}}mimbl/mimblReference.html">Reference</a>
					</div>
				</div>
				<div class="menuitem">
					<div class="menuitemContent">Mimurl</div>
					<div class="menu">
						<a class="menuitem" href="{{pathToRoot}}mimurl/mimurlAbout.html">About</a>
						<a class="menuitem" href="{{pathToRoot}}mimurl/mimurlDemo.html">Demo</a>
						<a class="menuitem" href="{{pathToRoot}}mimurl/mimurlReference.html">Reference</a>
					</div>
				</div>
				<a class="menuitem" href="{{pathToRoot}}blog.html">Blog</a>
			</div>
		</div>
		<div class="main-container">
			{{ content }}
		</div>
	</div>
</body>
</html>
