---
layout: default
---

{% include pathToRoot.lqd %}

<div class="wide-container elastic">
	<div class="left-sidebar">
		<div class="left-sidebar-title">
			Mimcss
		</div>
		
		<div style="padding: 8px">
			<a class="menuitem" href="{{pathToRoot}}mimcss/mimcssMotivation.html">Motivation</a><br/><br/>
			<b>Guide</b>
			<ul>
			{% for item in site.data.mimcssGuide %}
				<li><a href="{{pathToRoot}}mimcss/guide/{{ item.file }}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
			<b>Reference</b>
			<ul>
			{% for item in site.data.mimcssReference %}
				<li><a href="{{pathToRoot}}mimcss/ref/{{ item.file }}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
			<!-- <a class="menuitem" href="{{pathToRoot}}mimcss/mimcssDemo.html">Demo</a><br/>
			<a class="menuitem" href="{{pathToRoot}}mimcss/mimcssReference.html">Reference</a><br/> -->
			<br/>
            <div class="vbox spacing">
                <a href="https://badge.fury.io/js/mimcss"><img src="https://badge.fury.io/js/mimcss.svg" alt="npm version" height="18"></a>
                <a href="https://gitter.im/mimcss/general?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge" rel="nofollow">
                    <img src="https://badges.gitter.im/mimcss/general.svg" alt="Join the chat at https://gitter.im/mimcss/general" style="max-width:100%;"></a>
            </div>
        </div>
	</div>

	<div class="content">
		{{ content }}
	</div>
</div>
